[submodule "zksec/bugs/zkbugs"]
	path = zksec/bugs/zkbugs
	url = https://github.com/zksecurity/zkbugs.git

[submodule "zksec/tools/Picus"]
	path = zksec/tools/Picus
	url = https://github.com/Veridise/Picus.git

[submodule "zksec/helpers/cvc5"]
	path = zksec/helpers/cvc5
	url = https://github.com/cvc5/cvc5.git

[submodule "zksec/tools/circomspect"]
	path = zksec/tools/circomspect
	url = https://github.com/trailofbits/circomspect.git

[submodule "zksec/tools/Coda"]
	path = zksec/tools/Coda
	url = https://github.com/Veridise/Coda.git

[submodule "zksec/helpers/rewriter"]
	path = zksec/helpers/rewriter
	url = https://github.com/mit-plv/rewriter.git
