[submodule "zksec/bugs/zkbugs"]
	path = zksec/bugs/zkbugs
	url = https://github.com/zksecurity/zkbugs.git
[submodule "zksec/tools/Picus"]
	path = zksec/tools/Picus
	url = https://github.com/Veridise/Picus.git
[submodule "zksec/helpers/cvc5"]
	path = zksec/helpers/cvc5
	url = git@github.com:cvc5/cvc5.git
