services:
  zkhydra:
    build:
      context: .
      dockerfile: Dockerfile
    image: zkhydra:latest
    container_name: zkhydra
    volumes:
      # Mount the output directory to persist results
      - ./output:/zkhydra/output
      # Mount config files
      - ./config.toml:/zkhydra/config.toml
      - ./configs:/zkhydra/configs
      # Mount bugs directory (if exists locally, otherwise uses container's clone)
      - ./bugs:/zkhydra/bugs
      # Mount test_bug directories
      - ./test_bug:/zkhydra/test_bug
      - ./test_bug_2:/zkhydra/test_bug_2
      - ./test_bug_3:/zkhydra/test_bug_3
      # DEBUG: Mount zkhydra Python package
      - ./zkhydra:/zkhydra/zkhydra
    working_dir: /zkhydra
    # Default command - can be overridden
    command: /bin/bash
    # Uncomment to run main.py by default
    # command: uv run main.py
